/*
style.css edits Practice1.html
*/
/*following make h1 green*/
h1 {
    color: green;
}

body {
    font-family: "Papyrus", sans-serif; /*if Papyrus isn't supported by the browser then sans-serif font will be used*/ 
}


.center {
    display: block; /*makes whatever calls .center into a block element*/
    /*margin-left and margin-right are set to auto to center the image*/
    margin-left: auto;
    margin-right: auto; 
}